html {
    scroll-behavior: smooth;
}

.profile-picture{
    /* width: 350px; */
    height: auto;
    /* margin-right: 25px; */
    border-radius: 15% 15% 100% 100%;
    /* margin-top: 10vh; */
}

body{
    background: linear-gradient(90deg, rgba(0,78,255,1) 0%, rgba(9,9,121,1) 49%, rgba(255,175,0,1) 100%);
}

.center{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 50%;
};

.card-margin{
    margin-top: 3vh;
    margin-bottom: 3vh;
};

